.Blog{
    padding:50px 50px;
    height:700px;
    width:calc(100vw - 100px);
    box-sizing: border-box;
    padding-right: 0px;
}
.blog-heading{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-slider{
    padding:15px;
    display: flex;
    overflow-x: hidden;
    
}

.blog-div{
    background-color: #f1f2f6;
    width:400px;
    height:550px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 15px;
}
.blog-img img{
    width:370px;
    height:250px;
    border-radius: 12px;
}
.blog-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-details{
    margin:20px;
}
.blog-details-heading{
    font-size:18px;
    text-align: left;
}
.blog-details-para{
    font-size: 0.8rem;
    color:grey;
    text-align: left;
}
.blog-details-author{
    width:370px;
    height:70px;
    display: flex;
    margin-top:10px;
}
.blog-details-author-img img{
    border-radius: 7px;
    width: 70px;
    height:70px;
}
.blog-details-author-details{
    margin-left:10px;
}
.author-name{
    font-size: 0.8rem;
    font-weight:bold;
    letter-spacing: 1px;
    text-align: left;
}
.author-about{
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: left;
}
.author-time{
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: left;
    color:grey;
}

@media screen and (max-width:850px) {
    
    .Blog{
        height:auto;
    }
    .blog-div{
        height:750px;
    }
    .blog-details-heading{
        font-size: 15px;
        height:100px;
        width: 400px;
    }
    .blog-details-para{
        height:200px;
        width:400px;
    }
}

@media screen and (max-width:600px){
    .Blog{
        margin:0;
        padding:0;
    }
    .blog-div{
        width:300px;
        height:500px
    }
    .blog-img img{
        width:250px;
        height:210px;
    }
    .blog-details-heading,  .blog-details-para{
        font-size: 10px;
        font-weight: 300;
        width:295px;
        height:auto;
    }
    .blog-details-author{
        width:290px;
    }
    .author-name, .author-about, .author-time{
        font-size: 10px;
    }
}
@media screen and (max-width:450px) {
    .blog-div{
        width:200px;
    }
    .blog-img img{
        width: 180px;
        height:110px;
    }
    .blog-details-heading,  .blog-details-para,.blog-details-author{
        width:190px;
    }
    .blog-details-author-img img{
        width:50px;
        height:50px;
    }
}